app_name=TapMap
debug=False

geocoder_base__url=https://api.opencagedata.com/geocode/v1/json
geocoder_api_key=EXAMPLE

router_base_url=https://router.project-osrm.org/route/v1/driving/

access_jwt_secret_key=EXAMPLE
refresh_jwt_secret_key=EXAMPLE
algorithm=HS256

accesss_token_expire_hours=1
refresh_token_expire_days=5

db_user=admin
db_password=password
db_host=localhost
db_port=5432
db_database=database

redis_host=localhost
redis_port=6379
    
kafka_host=localhost
kafka_port=9093

order_status_update_topic=order_status_updates
driver_assigned_order_topic=driver_assigned_to_order
